# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_LE_CHIFFRE_STM32
    select SOC_STM32F072XB
    select ZMK_BOARD_COMPAT if BOARD_LE_CHIFFRE_STM32_STM32F072XB_ZMK
